<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.codealphas.themovie.presentation.movie.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codealphas.themovie.presentation.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codealphas.themovie.presentation.auth.JoinActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codealphas.themovie.presentation.movie.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.codealphas.themovie.presentation.map.MapActivity"
            android:exported="false" />
        <activity
            android:name="com.codealphas.themovie.presentation.review.ReviewMainActivity"
            android:exported="false" />
        <activity
            android:name="com.codealphas.themovie.presentation.review.ReviewDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
